In [104]:
#Major-Project 1 :-
#ML Model for Indian GDP
#Dataset :- https://www.kaggle.com/datasets/dheerajmukati/india-gdp-19602022

In [134]:
#1.Taking dataset and creating a Dataframe
import pandas as pd
df=pd.read_csv('/content/India_GDP_Data.csv')
df

    Year  GDP_In_Billion_USD  Per_Capita_in_USD  Percentage_Growth
0   2021             3173.40               2277                8.95
1   2020             2667.69               1933               -6.60
2   2019             2831.55               2072                3.74
3   2018             2702.93               1998                6.45
4   2017             2651.47               1981                6.80
..   ...                 ...                ...                 ...
56  1965               59.55                119               -2.64
57  1964               56.48                116                7.45
58  1963               48.42                101                5.99
59  1962               42.16                 90                2.93
60  1961               39.23                 85                3.72

[61 rows x 4 columns]

In [135]:
#2.EDA
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                61 non-null     int64
 1   GDP_In_Billion_USD  61 non-null     float64
 2   Per_Capita_in_USD   61 non-null     int64
 3   Percentage_Growth   61 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 2.0 KB
None

In [136]:
print(df.shape)
#dataframe has 61 rows and 4 columns

(61, 4)

In [137]:
print(df.size)
#dataframe has 244 elements in total

244

In [116]:
df.isnull().sum()

Unnamed: 0                       1
India GDP - Historical Data      0
India GDP - Historical Data.1    0
India GDP - Historical Data.2    0
India GDP - Historical Data.3    0
dtype: int64

In [138]:
#We will be dropping GDP per capita and Growth rate as they will be of no use to us.
df = df.drop(df.iloc[:,2:], axis=1)
df

    Year  GDP_In_Billion_USD
0   2021             3173.40
1   2020             2667.69
2   2019             2831.55
3   2018             2702.93
4   2017             2651.47
..   ...                 ...
56  1965               59.55
57  1964               56.48
58  1963               48.42
59  1962               42.16
60  1961               39.23

[61 rows x 2 columns]

In [173]:
#3.Visualisation-We will not perform this because of limited data

In [140]:
#4.Dividing the data into input(x) and output(y)
#Input - Year and Output - GDP in Billions
x=df.iloc[:,0:1].values
x

array([[2021],
       [2020],
       [2019],
       [2018],
       [2017],
       [2016],
       [2015],
       [2014],
       [2013],
       [2012],
       [2011],
       [2010],
       [2009],
       [2008],
       [2007],
       [2006],
       [2005],
       [2004],
       [2003],
       [2002],
       [2001],
       [2000],
       [1999],
       [1998],
       [1997],
       [1996],
       [1995],
       [1994],
       [1993],
       [1992],
       [1991],
       [1990],
       [1989],
       [1988],
       [1987],
       [1986],
       [1985],
       [1984],
       [1983],
       [1982],
       [1981],
       [1980],
       [1979],
       [1978],
       [1977],
       [1976],
       [1975],
       [1974],
       [1973],
       [1972],
       [1971],
       [1970],
       [1969],
       [1968],
       [1967],
       [1966],
       [1965],
       [1964],
       [1963],
       [1962],
       [1961]])

In [141]:
y = df.iloc[:,1:].values
y

array([[3173.4 ],
       [2667.69],
       [2831.55],
       [2702.93],
       [2651.47],
       [2294.8 ],
       [2103.59],
       [2039.13],
       [1856.72],
       [1827.64],
       [1823.05],
       [1675.62],
       [1341.89],
       [1198.9 ],
       [1216.74],
       [ 940.26],
       [ 820.38],
       [ 709.15],
       [ 607.7 ],
       [ 514.94],
       [ 485.44],
       [ 468.39],
       [ 458.82],
       [ 421.35],
       [ 415.87],
       [ 392.9 ],
       [ 360.28],
       [ 327.28],
       [ 279.3 ],
       [ 288.21],
       [ 270.11],
       [ 320.98],
       [ 296.04],
       [ 296.59],
       [ 279.03],
       [ 248.99],
       [ 232.51],
       [ 212.16],
       [ 218.26],
       [ 200.72],
       [ 193.49],
       [ 186.33],
       [ 152.99],
       [ 137.3 ],
       [ 121.49],
       [ 102.72],
       [  98.47],
       [  99.53],
       [  85.52],
       [  71.46],
       [  67.35],
       [  62.42],
       [  58.45],
       [  53.09],
       [  50.13],
       [  45.87],
       [  59.55],
       [  56.48],
       [  48.42],
       [  42.16],
       [  39.23]])

In [142]:
#5.Training and Testing variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [143]:
#To verify
x.shape

(61, 1)

In [144]:
x_train.shape
#x_train has 45 of 61 rows which is around 74%

(45, 1)

In [145]:
x_test.shape
#x_train has 16 of 61 rows which is around 26%

(16, 1)

In [146]:
y_train.shape
#y_train has 45 of 61 rows which is around 74%

(45, 1)

In [147]:
y_test.shape
#y_train has 16 of 61 rows which is around 26%
#By this we can conclude that step 5 is sucessful

(16, 1)

In [148]:
#6.Scaling - We will not performe this as it is not needed

In [149]:
#7.Running linear regresser
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [150]:
#8.Training the model
model.fit(x_train,y_train)

LinearRegression()

In [167]:
#9.Predict the Output
y_pred=model.predict(x_test)
y_pred

array([[ 863.27213966],
       [ 501.42583987],
       [-503.70277065],
       [ 782.86185082],
       [1466.34930597],
       [1828.19560575],
       [ 541.63098429],
       [-463.49762623],
       [ 300.40011777],
       [1024.09271734],
       [1747.78531691],
       [1506.55445039],
       [ 702.45156197],
       [ 260.19497335],
       [ 581.83612871],
       [ 179.78468451]])

In [168]:
y

array([[3173.4 ],
       [2667.69],
       [2831.55],
       [2702.93],
       [2651.47],
       [2294.8 ],
       [2103.59],
       [2039.13],
       [1856.72],
       [1827.64],
       [1823.05],
       [1675.62],
       [1341.89],
       [1198.9 ],
       [1216.74],
       [ 940.26],
       [ 820.38],
       [ 709.15],
       [ 607.7 ],
       [ 514.94],
       [ 485.44],
       [ 468.39],
       [ 458.82],
       [ 421.35],
       [ 415.87],
       [ 392.9 ],
       [ 360.28],
       [ 327.28],
       [ 279.3 ],
       [ 288.21],
       [ 270.11],
       [ 320.98],
       [ 296.04],
       [ 296.59],
       [ 279.03],
       [ 248.99],
       [ 232.51],
       [ 212.16],
       [ 218.26],
       [ 200.72],
       [ 193.49],
       [ 186.33],
       [ 152.99],
       [ 137.3 ],
       [ 121.49],
       [ 102.72],
       [  98.47],
       [  99.53],
       [  85.52],
       [  71.46],
       [  67.35],
       [  62.42],
       [  58.45],
       [  53.09],
       [  50.13],
       [  45.87],
       [  59.55],
       [  56.48],
       [  48.42],
       [  42.16],
       [  39.23]])

In [169]:
#Individual prediction
model.predict([[2089]])

array([[4642.5557152]])

In [172]:
#10.Accuracy
m = model.coef_
c=model.intercept_
y=m*2089+c
y

array([[4642.5557152]])

In [ ]:
#After cross verifing both values we can conclude that model's prediction are accurate.